<header>
  <nav>
    <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo-navbar">
      Shos
    </div>
    <div class="menu">
      <ul>
        <li><span class="cursor-pointer" (click)="navigateToPage(pagesEnum.Search)">Home</span></li>
        <li><span class="cursor-pointer" (click)="navigateToPage(pagesEnum.Search)">About</span></li>
        <li><span class="cursor-pointer" (click)="navigateToPage(pagesEnum.Search)">My Profile</span></li>
        <li><span class="cursor-pointer" (click)="navigateToPage(pagesEnum.Search)">Donate</span></li>
        <li><span class="cursor-pointer" (click)="navigateToPage(pagesEnum.Search)">Owners</span></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main>
  <router-outlet></router-outlet>
</main>