<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center">
      <div class="col-12 col-md-8">

        <h1 class="text-white">What are you looking for?</h1>
        <p class="text-white lead">We're searching all over the globe for your request</p>

        <div class="form-group row">
          <div class="col-12 col-md-6">
            <input [(ngModel)]="searchTextBox" id="searchTextBox" type="text" class="form-control form-control-lg"
              placeholder="I want...">
          </div>
          <div class="col-12 col-md-2">
            <button (click)="search()" type="button" class="btn btn-primary form-control-lg px-5">Search</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="itemsSection">
  <div class="container">

    <div class="row" >

      <div *ngFor="let item of items" class="col-12 col-sm-4 my-2">
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/46160/field-clouds-sky-earth-46160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ item.Name }}</h5>
            <p class="card-text">{{ item.Description }}</p>
            <p class="card-text">
              {{ item.Price }}$
            </p>
            <a class="btn btn-primary text-white">Read more</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>